@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

input[type="tel"] {
  min-height: 56px;
}
